// Fonts
:root {
    --f-family_thin: "Roboto Thin", sans-serif;
    --f-family_thin_italic: "Roboto Thin Italic", serif;

    --f-family_light: "Roboto Light", sans-serif;
    --f-family_light_italic: "Roboto Light Italic", serif;

    --f-family_regular: "Roboto Regular", sans-serif;
    --f-family_regular_italic: "Roboto Regular Italic", serif;

    --f-family_medium: "Roboto Medium", sans-serif;
    --f-family_medium_italic: "Roboto Medium Italic", serif;

    --f-family_bold: "Roboto Bold", sans-serif;
    --f-family_bold_italic: "Roboto Bold Italic", serif;

    --f-family_black: "Roboto Black", sans-serif;
    --f-family_black_italic: "Roboto Black Italic", serif;
}
